<ion-card style="padding-top: 20%;">
    <img alt="logo" src="../assets/TOTVS.png" />
    <ion-card-header>
      <ion-card-title>Atenção !!!</ion-card-title>
    </ion-card-header> 
    <ion-card-content style="height: 20vh;margin-top: 10%;">
      Esse aplicativo foi desenvolvido como ferramenta de auxilio no desenvolvimento ADVPL.<br>
      O conteúdo exibido foi retirado da documentação disponivel on-line(TDN e outros)<br>
      Esperamos que sirva para o determinado propósito. <br>
      Faça bom uso e se possivel nos envie feedback ! <br>
    </ion-card-content>
  </ion-card>